body {
  font-family: "Source Sans Pro", sans-serif;
}

p { margin-top: .35ex;}

.screen {
  position: absolute;
  top: 0px; bottom: 0px;
  left: 0px; right: 0px;
  overflow-y: hidden;
}

.column {
  display: flex;
  flex-direction: column;
  background: #f5f5f5;
  min-height: 0px;
}

.row {
  display: flex;
  flex-direction: row;
}

.wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.stretch {
  flex-basis: 0;
}

.fixed {
  flex-grow: 1;
  flex-shrink: 1;
}

.scroll-y {
  overflow-y: auto;
}

.scroll-x {
  overflow-x: auto;
}

.button {
  border: 2px; margin: 3px;
  max-width: 50px;
  overflow-x: hidden;
}


img {
  max-width: 100%;
  display: block;
}

pre {
  max-width: 650px;
  white-space: pre-wrap;
}

/* scrolling feeds, threads */

.scroller {
  width: 100%;
}

.scroller > * {
  margin-left: auto;
  margin-right: auto;
}

.scroller__wrapper {
  width: 100%;
}

@media (min-width: 600px) {
  .scroller__wrapper {
    width: 600px;
  }
}


/* --- hypertabs ------- */

.hypertabs__tabs {
  overflow-y: hide;
}

.hypertabs > .row {
  flex-grow: 0; flex-shrink: 0;
  margin: 10px;
}

.hypertabs__tabs > * {
  max-width: 50px;
  overflow-x: hidden;
  margin-right: 5px;
  padding-top: 1px;
}

.hypertabs--selected {
  background: white;
  border: 1px solid #ccc;
  padding-top: 0;
  padding-left: 5px;
  padding-right: 5px;
  max-width: 200px;
}

/* message id */

input {
  margin-left: 3px;
  margin-right: 3px;
  border: 1px solid #eee;
}

textarea {
  border: 1px solid #eee;
}

/* compose */

.compose {
  width: 100%;
}

/* messages */

.message {
  border: 1px solid #eee;
  padding: 7px;
  margin-top: .5em;
  background: white;
  display: block;
  flex-basis: 0;
  max-width: 100%;
  min-width: 300px;
  word-wrap:break-word; 
  display:inline-block;
}

.message_meta input {
  border: none;
  font-size: .8em;
  color: #666;
  background: #ddd;
}

.message_meta {
  margin-left: auto;
}
.message_meta > * {
  margin-left: 5px;
}
.message_actions {
  float: right;
}

.dig {
  border-right: 2px solid #eee;
  padding-right: .6ex;
  margin-right: .1ex;
}

.message > .title > .avatar {
  margin-left: 0;
}

.message_content {
  margin-top: 5px;
  border-top: 1px solid #eee;
  padding-top: 3px;
}

/* -- suggest box */


.suggest-box > * {
  background: #f5f5f5;
  border: 1px solid #ccc;
  margin: 3px;
}

.suggest-box {
  width: 200px;
}

.suggest-box ul {
  list-style-type: none;
  padding-left: -20px;
}

.suggest-box .selected {
  background: #ccc;
}

.suggest-box img {
  width: 40px;
}
.suggest-box,.selected img {
  width: 200px;
}
/* avatar */

.avatar {
  display: flex;
  flex-direction: row;
}
.avatar img {
  width: 40px;
  height: 40px;
  margin-right: 3px;
  border: 1px solid #ccc;
}

.profile {
  background: #fff;
  padding: .5em;
  border: 1px solid #eee;
}

.profile img {
  width: 256px;
  height: 256px;
  border: 1px solid #eee;
}

.profile__info {
  margin-left: .5em;
}

/* lightbox - used in message-confirm */

.lightbox {
  overflow: auto;
  background: #fff;
  width: 600px;
  border: 1px solid #eee;
  top: 2em;
  bottom: 2em;
  left: 2em;
  right: 2em;
  padding: 1em;
}

.message-confirm {
  background: #fff;
} 

/* searchprompt */

.searchprompt {
  width: 250px;
  margin-left: 10px;
  margin-bottom: 5px;
}

a {
  color: #333;
}

a:hover {
  color: #000;
}

/* TextNodeSearcher highlights */

highlight {
  background: yellow;
}

/* avatar editor */

.hypercrop__canvas {
  width: 100%;
}

.profile__follows img, .profile__followers img {
  width: 40px;
  height: 40px;
  margin-right: 3px;
  border: 1px solid #ccc;
}


.git-table-wrapper {
  max-height: 12em;
  overflow: auto;
  word-break: break-all;
  margin: 1em 0;
}

.git-table-wrapper table {
  width: 100%;
}


