body {
  font-family: sans-serif;
  color: #222;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin-top: .35em;
}

h1 { font-size: 1.2em; }
h2 { font-size: 1.18em; }
h3 { font-size: 1.15em; }
h4 { font-size: 1.12em; }
h5 { font-size: 1.1em; }
h6 { font-size: 1em; }

* {
  word-break: break-word;
}

a:link, a:visited, a:active {
  color: #0088cc;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #005580;
  text-decoration: underline;
}

.column {
  display: flex;
  flex-direction: column;
  min-height:0px;
}

.row {
  display: flex;
  flex-direction: row;
  min-height:0px;
}

.end {
  justify-content: flex-end;
}

.wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.no-shrink {
  flex-shrink: 0;
}

.expand {
  justify-content: space-between;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.wide {
  width: 100%;
}

p {
  margin-top: .35ex;
}

hr {
  border: solid #eee;
  clear: both;
  border-width: 1px 0 0;
  height: 0;
  margin-bottom: .9em;
}

input, textarea {
  border: none;
  border-radius: .2em;
  font-family: sans-serif;
}

input:focus, .compose:focus, button:focus {
  outline: none;
  border-color: #0088cc; 
  box-shadow: 0 0 4px #0088cc;
}

textarea {
  padding: .5em;
  font-size: 1em;
}

textarea:focus {
  outline: none;
  border-color: none;
}

button {
  background: #fff;
  color: #666;
  border: 1px solid #bbb;
  border-radius: .5em;
  padding: .7em;
  margin: .5em;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .7em;
}

button:hover {
  background: #ccc;
  border: 1px solid #bbb;
}

.menu {
  position: absolute;
  top: .5em;
  right: .5em;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-right: 1em;
  padding-left: 1em;
  background: #f5f5f5;
  border: 1px solid #eee;
  border-radius: .2em;
  z-index: 5;
}

/* messages */
/* is .title used any more? */

.title {
  padding: .5ex;
}

.emoji {
  height: 1em;
  width: 1em;
  vertical-align: top;
}



/* avatar */

.avatar--large, 
.avatar--thumbnail, 
.avatar--fullsize {
  border: 1px solid #eee;
}

.avatar--large {
  width: 10em;
  height: 10em;
}

.avatar--thumbnail {
  width: 3.5em;
  height: 3.5em;
  float: left;
  margin: 0 .25ex;
}

.\.meta .avatar--thumbnail {
  width: 1.9em;
  height: 1.9em;
}

.avatar--fullsize {
  width: 50%;
}

/* lightbox - used in message-confirm */

div.lightbox {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 50px;
  overflow: auto;
  width: 600px;
  max-width: 100%;
  padding: 25px;
  margin: auto;

  z-index: 2;

  background: #f5f5f5;
  border: 1px solid #eee;
  border-radius: .2em;
}


/* TextNodeSearcher highlights */

highlight {
  background: #ff8;
}

/* avatar editor */

.hypercrop__canvas {
  width: 100%;
}

/* gitssb */

.git-table-wrapper {
  max-height: 12em;
  overflow: auto;
  word-break: break-all;
  margin: 1em 0;
}

.git-table-wrapper table {
  width: 100%;
}

/* --- network status --- */

.status {
  width: .7em;
  height: .7em;
  margin: .7em;
  border-radius: 100%;
  background: #08c;
}

/* tabs */

.header {
  background: #f5f5f5;
  border-bottom: 1px inset;
  flex-shrink: 0;
}

/* progress bar */

.hyperprogress__bar {
  background: darkgrey;
}
.hyperprogress__liquid {
  background: lightblue;
}


