body {
  font-family: sans-serif;
  color: #222;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin-top: .35em;
}

h1 { font-size: 1.2em; }
h2 { font-size: 1.18em; }
h3 { font-size: 1.15em; }
h4 { font-size: 1.12em; }
h5 { font-size: 1.1em; }
h6 { font-size: 1em; }

* {
  word-break: break-word;
}

a:link, a:visited, a:active {
  color: #0088cc;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #005580;
  text-decoration: underline;
}

.screen {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  overflow-y: hidden;
}

.column {
  display: flex;
  flex-direction: column;
  min-height:0px;
}

.row {
  display: flex;
  flex-direction: row;
  min-height:0px;
}

.end {
  justify-content: flex-end;
}

.wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.no-shrink {
  flex-shrink: 0;
}

.expand {
  justify-content: space-between;
}

.scroll-y {
  overflow-y: auto;
  min-height: 0px;
}

.scroll-x {
  overflow-x: auto;
  min-width: 0px;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.wide {
  width: 100%;
}

p {
  margin-top: .35ex;
}

hr {
  border: solid #eee;
  clear: both;
  border-width: 1px 0 0;
  height: 0;
  margin-bottom: .9em;
}

input, textarea {
  border: none;
  border-radius: .2em;
  font-family: sans-serif;
}

input:focus, .compose:focus, button:focus {
  outline: none;
  border-color: #0088cc; 
  box-shadow: 0 0 4px #0088cc;
}

textarea {
  padding: .5em;
  font-size: 1em;
}

textarea:focus {
  outline: none;
  border-color: none;
}

button {
  background: #fff;
  color: #666;
  border: 1px solid #bbb;
  border-radius: .5em;
  padding: .7em;
  margin: .5em;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .7em;
}

button:hover {
  background: #ccc;
  border: 1px solid #bbb;
}

.menu {
  position: absolute;
  top: .5em;
  right: .5em;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-right: 1em;
  padding-left: 1em;
  background: #f5f5f5;
  border: 1px solid #eee;
  border-radius: .2em;
  z-index: 5;
}

/* scrolling feeds, threads */

.scroller {
  width: 100%;
}

.scroller__wrapper {
  flex: 1;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/* messages */
/* is .title used any more? */

.title {
  padding: .5ex;
}

.emoji {
  height: 1em;
  width: 1em;
  vertical-align: top;
}


/* -- suggest box */

.suggest-box > * {
  display: block;
}

.suggest-box ul {
  padding: 0;
  list-style-type: none;
  padding-left: 0;
  background: #eee;
  border: 1px solid #eee;
  border-radius: 2px;
}

.suggest-box .selected {
  background: white;
}

.suggest-box {
  width: max-content;
  background: #white;
  border-radius: 1em;
}

/* emoji */
.suggest-box img {
  height: 20px;
  width: 20px;
}

/* avatar */

.avatar--large, 
.avatar--thumbnail, 
.avatar--fullsize {
  border: 1px solid #eee;
}

.avatar--large {
  width: 10em;
  height: 10em;
}

.avatar--thumbnail {
  width: 2.5em;
  height: 2.5em;
  float: left;
  margin: 0 .25ex;
}

.\.meta .avatar--thumbnail {
  width: 1.9em;
  height: 1.9em;
}

.avatar--fullsize {
  width: 50%;
}

.profile {
  padding: .5ex;
  overflow: auto;
}

.profile input {
  width: 100%;
}

.profile__info {
  margin-left: .5em;
}

/* lightbox - used in message-confirm */

.lightbox {
  overflow: auto;
  width: 650px;
  padding: 25px;
  margin: 3em 0;

  z-index: 2;

  background: #f5f5f5;
  border: 1px solid #eee;
  border-radius: .2em;
}

/* searchprompt */

.searchprompt {
  float: left;
  width: 85%;
  height: 2em;
  margin-top: .3em;
  border-radius: 1em;
  padding-left: .2em;
  margin-left: 1em;
  margin-right: 1em;
}

/* TextNodeSearcher highlights */

.highlight {
  background: #f5f5f5;
}

/* avatar editor */

.hypercrop__canvas {
  width: 100%;
}

/* gitssb */

.git-table-wrapper {
  max-height: 12em;
  overflow: auto;
  word-break: break-all;
  margin: 1em 0;
}

.git-table-wrapper table {
  width: 100%;
}

/* --- network status --- */

.status {
  width: .7em;
  height: .7em;
  margin: .7em;
  border-radius: 100%;
  background: #08c;
}

.error {
  background: red;
}

/* tabs */

.header {
  background: #f5f5f5;
  border-bottom: 1px inset;
  flex-shrink: 0;
}

.header__tabs {
  width: 100%; 
  min-width: 0px;
}

/* --- hypertabs ------- */

.hypertabs__tabs {
  min-width: 0px;
  width: 100%;
}

.hypertabs__tab {
  overflow-x: hidden;
  min-width: 0px;
  width: 100%;
}

.hypertabs__button {
  overflow-x: hidden;
  min-width: 0px;
  width: 100%;
}

.hypertabs__tab {
  color: black;
  background: #f5f5f5;
  border-top-left-radius: 5px;
  margin-left: -3px;
  border-bottom: none;
  padding-top: .56em;
  padding-left: 1em;
  border-left: 1px solid #ddd;
  width: 100%; 
}

.hypertabs__tab > a {
  color: #666;
  text-decoration: none;
  white-space: nowrap;
  font-size: .9em;
}

.hypertabs--selected {
  font-weight: bold;
  background: #eee;
  border-top-right-radius: 5px;
  z-index: 1;
}

.hypertabs__x  {
  display: none; 
  transform: translate(-4px, -3px);
}

.hypertabs--selected .hypertabs__x {
  display: block;
}

/* progress bar */

.hyperprogress__bar {
  background: darkgrey;
}
.hyperprogress__liquid {
  background: lightblue;
}


