/*
 * NOTE the suggest-box module appends the suggestion div to the end of the body,
 * so wrapping it in a module is impossible
 *
 * Writing mcss for this is hard, so I've just written tight css selectors
*/

body > .suggest-box {
  width: max-content;
  background-color: #fff;
  border: 1px gainsboro solid;
  padding: .2rem .5rem;

  font-weight: 300;
}

/* body > .suggest-box > * { */
/*   display: block; */
/* } */

body > .suggest-box > ul {
  list-style-type: none;
  padding-left: 0;
  border-radius: 2px;
}

body > .suggest-box > ul > li {
  display: flex;
  align-items: center;

  padding: .1rem .2rem;

  border: 1px #fff solid;
}

body > .suggest-box > ul > li.selected {
  background: #eee;
  border-right: 3px black solid;
  border: 1px gainsboro solid;
}

body > .suggest-box > ul > li > strong {
  flex-grow: 1;
}

body > .suggest-box > ul > li > img {
}

body > .suggest-box > ul > li > small {
  font-family: monospace;
  margin-left: .5rem;
  font-size: 1rem;
  float: right;
}




/* emoji */

body > .suggest-box img {
  height: 20px;
  width: 20px;
}

